[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
rope = "*"

[requires]
python_version = "3.9"
